# Ignorer les dossiers de compilation
bin/
obj/

# Ignorer les fichiers DLL
*.dll

# Ignorer les fichiers spécifiques à .NET
*.exe
*.log
*.pdb
*.cache
*.mdb
*.ilk
*.idb

# Dossiers spécifiques
.vs/
.vscode/
.idea/

# Fichiers temporaires et divers
*.tmp
*.temp
*.nupkg
*.snupkg
.publish/
